html,body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: white;
}

$primary: rgb(223, 25, 25);

.header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;


    @media (max-width: 980px) {
        position: fixed;
        top: 0;
        background-color: white;
        height: 70px;
          }

    &__logo {
        width: 85px;
        height: 85px;
        background-image: url(../img/Emblema.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        padding: 10px;

        @media (max-width: 980px) {
            width: 65px;
            height: 65px;
              }
        }
    }

.header__menu {

    @media (max-width: 960px) {
    width: 40px;
    height: 40px;
    background-image: url(../img/menu.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
      }
}

.navbar {
    display: flex;
    align-items: center;

    @media (max-width: 960px) {
        display: none;
      }

    &__item {
        display: block;
        color: black;
        font-size: 25px;
        font-weight: bold;
        letter-spacing: 0.02em;
        text-decoration: none;
        padding-left: 20px;
        

        &_col {
            color: $primary;
        }
    }
}

.navbar__item:active, .navbar__item:hover{
    color:  $primary;
  }

.social {
    display: flex;
    align-items: center;
    
    &__search {
        font-size: 30px;
        background-image: url(../img/Лупа1.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        padding-left: 30px;
        margin-left: 20px;

        @media (max-width: 960px) {
            font-size: 40px;
            padding-left: 40px;
            
        }
        
    }

    &__search:active, &__search:hover {
        background-image: url(../img/Лупа.png);
    }

    &__vk {
        font-size: 30px;
        background-image: url(../img/vk.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        padding-left: 30px;
        margin-left: 20px;

        @media (max-width: 960px) {
            display: none;
          }
    }

    &__vk:active, &__vk:hover {
        background-image: url(../img/vkнаводка.png);
    }

    &__fb {
        font-size: 30px;
        background-image: url(../img/facebook.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        padding-left: 30px;
        margin-left: 20px;

        @media (max-width: 960px) {
            display: none;
          }
    }

    &__fb:active, &__fb:hover {
        background-image: url(../img/facebookнаводка.png);
    }

    &__insta {
        font-size: 30px;
        background-image: url(../img/instagram.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        padding-left: 30px;
        margin-left: 20px;

        @media (max-width: 960px) {
            display: none;
          }
    }

    &__insta:active, &__insta:hover {
        background-image: url(../img/instagramнаводка.png);
    }
}

.container {
    min-height: 100vh;
    max-width: 100%;
    background-image: url(../img/Слой4.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

    @media (max-width: 1280px) {
        justify-content: flex-start;
        align-items: center;
        flex-direction: column-reverse;

          }
     @media (max-width: 980px) {
        min-height: calc(100vh - 100px);;

        }
    

}


.text {
    width: 500px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    margin: 0px 100px 50px 0px;
    
    @media (max-width: 1280px) {
        margin: 0px;
    
              }

    @media (max-width: 520px) {
        width: 350px;
    }

    &__1 {
        color: white;
        font-weight: bold;
        font-size: 35px;

        @media (max-width: 520px) {
            font-size: 25px;
         }
    }
}

.btn {
    height: 60px;
    padding: 0 20px;
    background: white;
    color: $primary;
    border-radius: 10px;
    line-height: 60px;
    font-weight: 600;
    font-size: 20px;
    border-color: transparent;

    @media (max-width: 820px) {
        height: 40px;
        line-height: 40px;

     }

    @media (max-width: 520px) {
        line-height: 40px;
        height: 40px;
     }

    &_1 {
        border-radius: 50px;
        height: 50px;
        line-height: 50px;
        margin: 30px; 
    }

    &_2 {
        border-color: $primary;
        margin-bottom: 50px;
    }

    &_4 {
        border-color: white;
        background: rgb(17, 17, 17);
        color: white;
    }
}

.btn:hover {
    background: $primary;
    color: white;
}

.btn_4:hover {
    background: white;
    color: black;
}

.container_content {
    min-height: 100vh;
    padding: 20px 150px;
    text-align: center;

 @media (max-width: 1130px) {
    padding: 10px 80px;  
        }

        @media (max-width: 650px) {
            padding: 10px 30px;  
                }
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding-bottom: 40px;


    @media (max-width: 1290px) {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
     }

     @media (max-width: 475px) {
        grid-template-columns: repeat(2, minmax(150px, 1fr));
     }
         

    &__item {
        position: relative;
        padding: 0px 0px 90% 0px;
     }  
  }

.service {
    background-image: url(../img/Фонуслуги.png);
    background-position: fixed;
}

.gallery__item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.service {
    background-image: url(../img/Фонуслуги.png);
    background-position: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}


.gallery-services {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    gap: 30px;
    padding: 0px 50px;

    @media (max-width: 910px) {
        padding: 0px;
     }
    

    @media (max-width: 760px) {
        grid-template-columns: repeat(2, minmax(auto, 1fr));
     }
}

.gallery-services__item {
        display: grid;
        grid-auto-flow: row;
        grid-template: auto 1fr / 1fr;
    
    }

.gallery-services__img {
    position: relative;
    padding: 0px 0px 60% 0px;
    
    }

.gallery-services__img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 80px;

    @media (max-width: 1230px) {
        width: 100px;
        height: 100px;
     }

     @media (max-width: 910px) {
        margin-left: 40px;
     }
}

.gallery-services__name {
    color: white;
    letter-spacing: 0.5px;
    font-size: 20px;
    font-weight: bold;

    @media (max-width: 1020px) {
        letter-spacing: 0.2px;
        font-size: 15px;
     }

     @media (max-width: 520px) {
        font-size: 10px;
     }
}

.container_content2 {
    min-height: 100vh;
    max-width: 100%;
    background-image: url(../img/Фонуслуги.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container_contacts {
    width: 100%;
    height: 450px;
    
}


.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;


    &__name {
    font-size: 22px;
    letter-spacing: 2px;
    padding: 0 20px;

    &_md {
        color: white;
        font-size: 22px;
        letter-spacing: 2px;
        padding: 0 20px;
    }

    }
}

.decor {

    display: flex;
    flex-direction: column;
    align-items: flex-end;

    &__elem1 {
        width: 40px;
        height: 4px;
        background-color: $primary;
        margin: 2px;
    }

    &__elem2 {
        width: 60px;
        height: 4px;
        background-color: black;
        margin: 2px;

    }

    &__elem3 {
        width: 60px;
        height: 4px;
        background-color: white;
        margin: 2px;

    }
}

.decor2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.block-contact {
    padding: 0px 100px;
    display: flex;
    flex-direction: row;

    @media (max-width: 820px) {
        padding: 0px 50px;
        align-items: center;
        flex-direction: column;
     }

    &__col1 {
        width: 30%;

        @media (max-width: 820px) {
            width: 100%;
         }
    }

    &__col2 {
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

    }

}

.social2 {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 820px) {
        flex-direction: row;
        justify-content: center;
     }

    &__vk {
        width: 100px;
        height: 80px;
        background-image: url(../img/VK2.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        padding-left: 30px;
        margin-left: 20px;

    }

    &__vk:active, &__vk:hover {
        background-image: url(../img/VK3.png);
    }

    &__fb {
        width: 100px;
        height: 80px;
        background-image: url(../img/Facebook2.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        padding-left: 30px;
        margin-left: 20px;

    }

    &__fb:active, &__fb:hover {
        background-image: url(../img/Facebook3.png);
    }

    &__insta {
        width: 100px;
        height: 80px;
        background-image: url(../img/Instagram2.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        padding-left: 30px;
        margin-left: 20px;
    }

    &__insta:active, &__insta:hover {
        background-image: url(../img/Instagram3.png);
    }
}

.name1 {
    color: $primary;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 0.5px;
    
    &_md {
        font-size: 25px;

    }

    @media (max-width: 820px) {
        margin: 0px auto;
     }
}

.form {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media (max-width: 1035px) {
        flex-direction: column;
     }
}

.input {
    width: 45%;

    @media (max-width: 1035px) {
        width: 100%;
     }
}

 .text-field {
    margin-bottom: 10px;
    color: $primary;
    font-weight: bold;
    font-size: 20px;
  }

  .text-field__label {
    display: block;
  }

  .text-field__input {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 5px;
    background-color:white;
    border: 3px solid $primary;
  }

 
  .text-field__input:focus {
    color: black;
    font-size: 18px;
    border-color: $primary;
    outline: 0
  }

    .text-field_floating-3 {
      position: relative;
    }

    .text-field_floating-3 .text-field__input {
      border: none;
      border-bottom: 3px solid $primary;
    }

    .text-field_floating-3 .text-field__label {
      position: absolute;
      top: 0;
      left: 0;
      padding: 5px;
      
    }
    
    .text-field_floating-3 .text-field__input:focus~.text-field__label {
      transform: scale(.95) translateY(-.99rem) translateX(.5rem);
    }


    .btn3 {
        width: 90%;
        display: flex;
        justify-content: flex-end;

        @media (max-width: 820px) {
            justify-content: center;
            padding: 10px;
         }
    }

    .footer {
        height: 100px;
        width: 100%;
        background-image: url(../img/Фон.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
        &__name {
            color: white;
            letter-spacing: 0.5px;
            font-size: 20px;
            font-weight: bold;
    
            &_md {
                font-size: 10px;
                color: white;
                letter-spacing: 0.5px;
                font-weight: bold;
            }
        }
    }

    .container-one {
        width: 100%;
        height: 100%;
        object-fit: fill;
    }

    .container-two {
        position: absolute;
        top: 0;
        left: 0;
        height: 20%;
        width: 100%;
        background: black;
        transition: all 0.5s linear 0s;
        opacity: 0.01;
        text-align: center;  
        
    }
    
    .text3 {
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 0.5px;
        color: white;
        padding: 20px;
    }
   
    .container-one:hover > .container-two {
        height: 100%;
       transition: all 1s linear 0s;
        opacity: 0.7;
        color: white;
    }


    